<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="success" (click)="goToFly()">Go flying</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" color="danger" (click)="landed()">Landed</ion-button>
      </ion-col>
       <ion-col size="auto">
        <ion-button expand="block" color="warning" (click)="testApp()" [disabled]="this.blockIn!=undefined">Test</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>
            <h2>Speed</h2>
            <p>{{speed}}</p>
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>
            <h2>Altitude</h2>
            <p>{{altitude}}</p>
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>
            <h2>Position</h2>
            <p>Lat {{latitude}}</p>
            <p>Long {{longitude}}</p>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>

        <ion-item>
          <ion-label>Block in {{blockIn | date: 'HH:mm'}}</ion-label>
        </ion-item>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col>

        <ion-item>
          <ion-label>Take off {{takeOffTime | date: 'HH:mm'}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Landing {{landingTime | date: 'HH:mm'}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Block out {{blockOut | date: 'HH:mm'}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Landings {{TGL}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button expand="block" color="medium" [disabled]="this.blockOut==undefined" (click)="createLog()">Log fly</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>